router bgp {{ bgp.asn }}
  bgp router-id {{bgp.routerid }}
  {% for neighbor in bgp.neighbors -%}
  neighbor {{ neighbor.address }} remote-as {{ neighbor.remoteas }}
  {% endfor -%}
  {% for network in bgp.networks -%}
  network {{ network }}
  {% endfor -%}