auto lo
iface lo inet loopback
    {% for loopback in loopbacks %}
    address {{ loopback }}
    {% endfor -%}
{% for interface in interfaces -%}
{% if interface.auto == true -%}
auto {{ interface.name }}
{% endif -%}
iface {{ interface.name }}
{% if interface.address is defined %}
    address {{ interface.address }}
{% endif -%}
{% if interface.gateway is defined %}
    gateway {{ interface.gateway }}
{% endif -%}
{% endfor -%}